<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>Active GiggleBot</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="card text-bg-success" style="z-index: 100;">
      <div class="card-body">
        <h1 class="card-title m-0">
          <a href="/qr" class="text-white text-decoration-none"> Active GiggleBot </a>
        </h1>
      </div>
    </div>
    <script src="/javascripts/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
